.App {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
  /* gap: 10px; */
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  padding-left: 30px;
  background-color: #c9c9c9;
}

.app-header img {
  width: 150px;
  cursor: pointer;
}

.topic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 20px;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.image-cards-container {
  margin-inline: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.loading img {
  width: 50px;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 768px) {
  .app-header {
    padding-left: 20px;
  }
  
  .topic-container {
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: start;
  }

  .image-cards-container {
    margin-inline: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

